<a href="https://colab.research.google.com/github/Julio-rs2205/ejemplo_clase_DMC/blob/main/ClassCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import time
time.time()

1677114686.936814

In [ ]:
time.time()

1677114706.9818447

In [ ]:
print("El tiempo de demora del proceso es de: ",1677114706.9818447-1677114686.936814)

El tiempo de demora del proceso es de:  20.04503059387207

In [ ]:
print(f"\nEl tiempo de demora del proceso es de: {1677114706.9818447-1677114686.936814} segundos\n\thola")

El tiempo de demora del proceso es de: 20.04503059387207 segundos
	hola

#### Ejercicio
Mediante un FOR imprima los números del 1 al 10 e indique si son múltiplos de 3

In [ ]:
for x in [1,2,3,4,5,6,7,8,9,10]:
  if x%3==0:
    print(f"El número {x} si es múltiplo de 3")
  else:
    print(f"El número {x} no es múltiplo de 3")

El número 1 no es múltiplo de 3
El número 2 no es múltiplo de 3
El número 3 si es múltiplo de 3
El número 4 no es múltiplo de 3
El número 5 no es múltiplo de 3
El número 6 si es múltiplo de 3
El número 7 no es múltiplo de 3
El número 8 no es múltiplo de 3
El número 9 si es múltiplo de 3
El número 10 no es múltiplo de 3

In [ ]:
for x in [1,2,3,4,5,6,7,8,9,10]:
  if x%3==0:
    es_multiplo = "si"
  else:
    es_multiplo = "no"
  print(f"El número {x} {es_multiplo} es múltiplo de 3")

El número 1 no es múltiplo de 3
El número 2 no es múltiplo de 3
El número 3 si es múltiplo de 3
El número 4 no es múltiplo de 3
El número 5 no es múltiplo de 3
El número 6 si es múltiplo de 3
El número 7 no es múltiplo de 3
El número 8 no es múltiplo de 3
El número 9 si es múltiplo de 3
El número 10 no es múltiplo de 3

In [ ]:
for x in [1,2,3,4,5,6,7,8,9,10]:
  if x%3==0:
    es_multiplo = "si"
  else:
    es_multiplo = "no"
  print(f"El número {x} {es_multiplo} es múltiplo de 3")

In [ ]:
for i in range(0,1000,5):
  if(i%3 == 0):
    print(f"{i} es múltiplo de 3")

0 es múltiplo de 3
15 es múltiplo de 3
30 es múltiplo de 3
45 es múltiplo de 3
60 es múltiplo de 3
75 es múltiplo de 3
90 es múltiplo de 3
105 es múltiplo de 3
120 es múltiplo de 3
135 es múltiplo de 3
150 es múltiplo de 3
165 es múltiplo de 3
180 es múltiplo de 3
195 es múltiplo de 3
210 es múltiplo de 3
225 es múltiplo de 3
240 es múltiplo de 3
255 es múltiplo de 3
270 es múltiplo de 3
285 es múltiplo de 3
300 es múltiplo de 3
315 es múltiplo de 3
330 es múltiplo de 3
345 es múltiplo de 3
360 es múltiplo de 3
375 es múltiplo de 3
390 es múltiplo de 3
405 es múltiplo de 3
420 es múltiplo de 3
435 es múltiplo de 3
450 es múltiplo de 3
465 es múltiplo de 3
480 es múltiplo de 3
495 es múltiplo de 3
510 es múltiplo de 3
525 es múltiplo de 3
540 es múltiplo de 3
555 es múltiplo de 3
570 es múltiplo de 3
585 es múltiplo de 3
600 es múltiplo de 3
615 es múltiplo de 3
630 es múltiplo de 3
645 es múltiplo de 3
660 es múltiplo de 3
675 es múltiplo de 3
690 es múltiplo de 3
705 es múltiplo de 3
720 es múltiplo de 3
735 es múltiplo de 3
750 es múltiplo de 3
765 es múltiplo de 3
780 es múltiplo de 3
795 es múltiplo de 3
810 es múltiplo de 3
825 es múltiplo de 3
840 es múltiplo de 3
855 es múltiplo de 3
870 es múltiplo de 3
885 es múltiplo de 3
900 es múltiplo de 3
915 es múltiplo de 3
930 es múltiplo de 3
945 es múltiplo de 3
960 es múltiplo de 3
975 es múltiplo de 3
990 es múltiplo de 3

In [ ]:
[x**x for x in range(0,11)]

[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

# Pandas

In [67]:
#@title
import pandas as pd
pddf = pd.DataFrame({'nombre': ['Julio','Egiber','Nicolas','Oscar','Anthony'],'nota':[15,17,14,19,15]})
pddf

    nombre  nota
0    Julio    15
1   Egiber    17
2  Nicolas    14
3    Oscar    19
4  Anthony    15